/* draggableItem.css */
.draggable-item {
  width: 96%;
  background-color: #313b36;
  padding: 5px;
  margin-bottom: 1px;
  min-height: 40px;
  word-wrap: break-word;
  max-height: 80px;
  overflow: auto;
  border-radius: 8px;
  cursor: grab;
  transition: background-color 0.3s ease;
}

.draggable-item:hover {
  background-color: #2d3632;
  border: 2px solid #a3bfb3;
}
