* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}
/* .cardContainer {
 
  width: 100%;
  height: 100vh;
} */
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  scroll-margin: 8px;
  white-space: normal;
  vertical-align: top;
  position: relative;
  padding: 5px;
  padding-bottom: 8px;
  width: 240px;
  min-height: 270px;
  max-height: 500px;
  border-radius: 20px;
  background: #212121;
  overflow: auto;

  /* box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727; */
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.card1:hover {
  box-shadow: 0 0 10px #42544b;
}

.card-title {
  width: 96%;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  /* margin: 15px 0 15px 10px; */
}

.card-image {
  min-height: 170px;
  border-radius: 15px;
  width: 96%;
}

.card-body {
  /* margin: 13px 0 0 10px; */
  color: rgb(184, 184, 184);
  font-size: 15px;
  width: 96%;
}

.footer {
  /* float: right; */
  /* margin: 28px 0 0 18px; */
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}

/*****/

.input {
  align-self: center;
  background-color: #292929;
  border: 1px solid #3e3e3e;
  border-radius: 8px;
  color: #fff;
  /* padding: 14px 24px; */
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  min-height: 40px;
  padding-left: 5px;
  /* margin: 12px 14px; */
}

.input:hover {
  border: 1px solid #fff;
}

.add-to-card {
  align-self: flex-start;
  width: 96%;
  border-radius: 8px;
  background-color: initial;
}
.add-to-card:hover,
.add-to-card button:hover {
  background-color: #2d3632;
  border: none;
}
.add-to-card button {
  border: none;
  width: 100%;
  text-align: left;
  background-color: initial;
}

.adding-card {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
}
/* .adding-card button {
  cursor: pointer;
} */

.card-list {
  width: 96%;
  list-style: none;
  color: #b2eccf;
  /* height: 40px; */

  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.card-list li {
  background-color: #3e3e3e;
  min-height: 40px;
  padding: 10px;
  border-radius: 8px;

  word-wrap: break-word;
  max-height: 80px;
  overflow: auto;
}

.card-list li:hover {
  border: 1px solid #fff;
}

.card-conetnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  scrollbar-width: thin;
  color: #dff8ec;
}

/* buttons beim hover */

.item-container {
  position: relative;
}

.button-container {
  position: absolute;
  top: 0;
  right: 0;
 
  visibility: hidden;
}

.item-container:hover .button-container {
  visibility: visible;
}

.update-button,
.delete-button {
  /* Stilisierung der Buttons */
  display: inline-block;
  .item-container {
    position: relative;
  }
  
  .button-container {
    position: absolute;
    top: 0;
    right: 0;

    visibility: hidden;
  }
  
  .item-container:hover .button-container {
    visibility: visible;
  }
  
  .update-button,
  .delete-button {
    /* Stilisierung der Buttons */
    display: inline-block;
    margin-left: 5px;
  }
  
  
}

